/*
    Colors:
    blue: #4b61d1;
    dark blue: #120945;
    gray: #d4d7f5;
    green: #306753;
    pink: #de7eb6;
    yellow: #f2ad41;
    white: #ffffff;
*/

/* CSS Reset */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

img {
   max-width: 100%;
}

html {
   background-color: #4b61d1;
   font-family: 'Livvic', sans-serif;
}

.container {
   width: 350px;
   margin: 32px auto 0 auto;
   border: 2px dashed red;
}

.xmas-stage {
   position: relative;
}

.panel {
   background-color: #120945;
   padding: 16px 24px;
   border-radius: 8px;
   position: absolute;
   top: 90px;
   width: 100%;
}

h1 {
   text-align: center;
   color: #de7eb6;
   margin-bottom: 24px;
   font-size: 30px;
}

.counter {
   display: flex;
   justify-content: space-between;
}

.counter-block {
   color: #ffffff;
   text-align: center;
   font-weight: 600;
}

.counter-block:last-child {
   color: #f2ad41;
}

.counter-block-number {
   font-size: 48px;

}

.counter-block-label {
   font-size: 20px;
}